@import '~@fluentui/react/dist/sass/References.scss';

.documentDisplay {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.documentBox{
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 1px 3px 3px 0px #ddd;
  .docHeader{
    padding: 15px;
    display: flex;
    align-items: center;
    h4{
      margin-left: 10px;
      a{
        text-decoration: none;
        color: #333;font: 1em sans-serif;
        font-weight: 600;
        font-size: 22px;
        font-family: 'Trebuchet MS';
      }
    }
    i{
      font-size: 40px;
    }
  }
  .docFooter{
    padding: 10px;
    border-top: 1px solid #666;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    svg{
      font-size: 16px;
    }
    a{
      color: #333;
      text-decoration: none;
    }
    .moreLink{
      float: left;
      display: flex;
      align-items: center;
      svg{
        margin-left: 10px;
      }
    }
    .downloadLink{
      float: right;
    }
  }
}